{% extends 'layout.twig' %}
{% block icon_img %}
    <link rel="icon" type="image/png" href="/favicon.ico"/>
{% endblock %}
{% block title %}
    <title>Mot de passe oublié | {{ parent () }}  </title>
{% endblock %}

{% block css_page %}
    <link rel="stylesheet" href='/assets/css/forgot_password.css'>
{% endblock %}

{% block content %}
    <header>
        <nav>
            <a href="{{ path('homepage') }}"><img src="/assets/img/logo/logo.jpg" alt="main logo" height="60"></a>
        </nav>
    </header>
    <div class="container-fluid" id="forgot-password-container">
        <h1 class="text-center">Mot de passe oublié</h1>
        <div class="row">
            {% if mail_send is defined and mail_send == 1 %}
                <div class="box">
                    <p class="bg-success text-white">Un lien de réinitialisation de mot de passe vient de vous être
                        envoyé ! Si vous ne voyez pas le mail dans votre boîte de réception, vérifiez vos spam !</p>
                </div>
            {% else %}
                {{ form(form,{action:path('send_reset_password_link')}) }}
            {% endif %}
        </div>
    </div>
    <footer id="footer">
        <p class="text-center footer-paragraph">Copyright @ 2023</p>
        <nav id="nav-mobile">
            <a href="{{ path('homepage') }}" class="mobile-link" id="homepage-link"><i class="fa-solid fa-house"></i></a>
            {% if user_connected is defined and user_connected == "ROLE_USER" %}
                <a href="{{ path('logout') }}" class="mobile-link" id="log-out"><i class="fa-solid fa-right-from-bracket"></i></a>
                <a href="{{ path('create_trick_get') }}" class="mobile-link" id="plus"><i class="fa-solid fa-plus"></i></a>
            {% else %}
                <a href="{{ path('login') }}" class="mobile-link" id="log-in"><i class="fa-solid fa-key"></i></a>
                <a href="{{ path('registration_get') }}" class="mobile-link" id="sign-up"><i class="fa-solid fa-user-plus"></i></a>
            {% endif %}
        </nav>
    </footer>
{% endblock %}
