{% extends 'layout.twig' %}

{% block title %}
    <title>Accueil | {{ parent () }}  </title>
{% endblock %}
{% block css_page %}
    <link rel="stylesheet" href='/assets/css/homepage.css'>
{% endblock %}
{% block content %}
    <header>
        <nav>
            <a href="{{ path('homepage') }}"><img src="/assets/img/logo/logo.jpg" alt="main logo" height="60"></a>
            <ul>
                {% if user_connected is defined and user_connected == "ROLE_USER" %}
                    <a href={{ path('create_trick_get') }}>Créer un trick</a>
                    <a href="{{ path('logout') }}">Déconnexion</a>
                {% else %}
                    <a href="{{ path('login') }}">Connexion</a>
                    <a href="{{ path('registration_get') }}">Inscription</a>
                {% endif %}
            </ul>
        </nav>

    </header>

    <div class="container-fluid" id="homepage">
        <div class=" container-fluid" id="banner">
            <img src="/assets/img/banner/banner_homepage.jpg" alt="banner">
            <h1>Découvrez l'art de la glisse aérienne </h1>
            <button id="down-button"><i class="fa-solid fa-arrow-down-long"></i></button>
        </div>

        <div class="container-fluid" id="tricks-container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="tricks">
                    {% for message in app.flashes('success') %}
                        <div class="flash-notice">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% if tricks is empty %}
                        <h2 class="text-center">Aucun trick de disponible pour le moment !</h2>
                    {% endif %}

                    {% if tricks is defined %}
                        {% for trick in tricks %}
                            <div class="trick">
                                <div class="trick-banner">
                                    <img src="{{ trick.banner is defined and trick.banner is not empty ? trick.banner : '/assets/img/banner/banner_homepage.jpg' }}"
                                         height="200" alt="">
                                </div>
                                <div class="trick-options">
                                    <a href="{{ path('trick',{ slug:trick.slug,id:trick.id }) }}"
                                       class="trick-name">{{ trick.name }}</a>
                                    <div class="options">
                                        {% if user_connected is defined and user_connected == "ROLE_USER" %}

                                            <a href="{{ path('update_trick_get',{slug:trick.slug,id:trick.id}) }}"
                                               class="update-trick">
                                                <i class="fa-solid fa-pencil">
                                                </i>
                                            </a>

                                            <form action="{{ path('delete_trick',{slug:trick.slug,id:trick.id}) }}"
                                                  method="post">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button type="submit" class="delete-trick"><i class="fa-solid fa-trash">
                                                    </i></button>
                                            </form>


                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>


        </div>
    </div>
    <button id="up-to-start"><i class="fa-solid fa-arrow-up"></i></button>

    <footer id="footer">
        <p class="text-center footer-paragraph">Copyright @ 2023</p>
        <nav id="nav-mobile">
            <a href="{{ path('homepage') }}" class="mobile-link" id="homepage-link"><i
                        class="fa-solid fa-house"></i></a>
            {% if user_connected is defined and user_connected == "ROLE_USER" %}
                <a href="{{ path('create_trick_get') }}" class="mobile-link" id="plus"><i class="fa-solid fa-plus"></i></a>
                <a href="{{ path('logout') }}" class="mobile-link" id="log-out"><i
                            class="fa-solid fa-right-from-bracket"></i></a>
            {% else %}
                <a href="{{ path('login') }}" class="mobile-link" id="log-in"><i class="fa-solid fa-key"></i></a>
                <a href="{{ path('registration_get') }}" class="mobile-link" id="sign-up"><i
                            class="fa-solid fa-user-plus"></i></a>
            {% endif %}
        </nav>
    </footer>

{% endblock %}
    {% block javascript %}
    <script src="/assets/js/watch-scroll-bar.js">
    </script>
    <script src="/assets/js/delete-trick-homepage.js">
    </script>
    {% endblock %}
