{% extends 'layout.twig' %}
{% block icon_img %}
    <link rel="icon" type="image/png" href="/favicon.ico"/>
{% endblock %}
{% block title %}
    <title>Réinitialisation de mot de passe| {{ parent () }}  </title>
{% endblock %}

{% block css_page %}
    <link rel="stylesheet" href='/assets/css/reset_password.css'>
{% endblock %}

{% block content %}
    <header id="header">
        <nav>
            <a href="{{ path('homepage') }}"><img src="/assets/img/logo/logo.jpg" alt="main logo" height="60"></a>

        </nav>
    </header>

    <div class="container-fluid" id="reset-password">
        <h1 class="text-center">Réinitialisation de mot de passe</h1>
        <div class="row">
            {% if mail_send is defined and mail_send == 1 %}
                <div class="box">
                    <p class="bg-success text-white">Un lien de réinitialisation de mot de passe vient de vous être
                        envoyé ! Si vous ne voyez pas le mail dans votre boîte de réception, vérifiez vos spam !</p>
                </div>
            {% else %}

                <form class="pt-5" action="{{ path('reset_password_with_token',{'id':token}) }}"
                      enctype="multipart/form-data" method="post">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="mb-3 user-box">
                            <label for="username" class="form-label">Utilisateur</label>
                            <input class="form-control" type="text" name="username" id="username" placeholder="John">
                            <p class="text-danger" id="error-username">
                                {{ errorUsername is defined ? errorUsername : '' }}
                                {{ exceptions.username_exception_reset_password is defined ? exceptions.username_exception_reset_password : '' }}
                                {{ failed.username is defined ? failed.username : '' }}
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="mb-3 password-box">
                            <label for="old-password" class="form-label">Ancien Mot de passe</label>
                            <input class="form-control" type="password" name="old-password" id="old-password"
                                   placeholder="">
                            <p class="text-danger" id="error-old-password">
                                {{ exceptions.password_exception_old_reset_password is defined ? exceptions.password_exception_old_reset_password : '' }}
                                {{ failed.password is defined ? failed.password : '' }}
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="mb-3 password-box">
                            <label for="password" class="form-label">Mot de passe</label>
                            <input class="form-control" type="password" name="password" id="password" placeholder="">
                            <p class="text-danger" id="error-password">
                                {{ exceptions.password_exception_new_reset_password is defined ? exceptions.password_exception_new_reset_password : '' }}
                                {{ exceptions.password_exception_wrong_format is defined ? exceptions.password_exception_wrong_format : '' }}

                            </p>
                        </div>
                    </div>
                    <input type="hidden" name="token" value="{{ csrf_token('reset_password_with_token') }}">
                    <input type="submit" class="btn text-white bg-black mb-3" name="submit" id="submit"
                           value="Réinitialisation de mot de passe">
                </form>

            {% endif %}
        </div>
    </div>
    <footer id="footer">
        <p class="text-center footer-paragraph">Copyright @ 2023</p>
        <nav id="nav-mobile">
            <a href="{{ path('homepage') }}" class="mobile-link" id="homepage-link"><i class="fa-solid fa-house"></i></a>
            {% if user_connected is defined and user_connected == 1 %}
                <a href="{{ path('logout') }}" class="mobile-link" id="log-out"><i class="fa-solid fa-right-from-bracket"></i></a>
                <a href="{{ path('create_trick_get') }}" class="mobile-link" id="plus"><i class="fa-solid fa-plus"></i></a>
            {% else %}
                <a href="{{ path('login_get') }}" class="mobile-link" id="log-in"><i class="fa-solid fa-key"></i></a>
                <a href="{{ path('registration_get') }}" class="mobile-link" id="sign-up"><i class="fa-solid fa-user-plus"></i></a>
            {% endif %}
        </nav>
    </footer>
{% endblock %}
