{% extends 'layout.twig' %}

{% block icon_img %}
    <link rel="icon" type="image/png" href="/favicon.ico"/>
{% endblock %}
{% block title %}
    <title>Connexion | {{ parent ()}}  </title>
{% endblock %}

{% block css_page %}
    <link rel="stylesheet" href='/assets/css/sign_in.css'>
{% endblock %}

{% block content %}
    <header>
        <nav>
            <a href="/"><img src="/assets/img/logo/logo.jpg" alt="main logo" height="60"></a>
            <ul>
                <li><a href=".">Home</a></li>
                <li><a href="#">Tricks</a></li>
                {% if user_connected is defined and user_connected == 1 %}
                    <li><a href="/logout">Déconnexion</a></li>
                {% else %}
                    <li><a href="/signup">Inscription</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
<div class="container-fluid" id="login">
    <h1 class="text-center" >Connexion</h1>
    <div class="row">
        <form class="pt-5" action="/signin/validation" enctype="multipart/form-data" method="post" >

            {# USER #}
            <div class="col-sm-12 col-md-12">
                <div class="mb-3 user-box">
                    <label for="username" class="form-label">Utilisateur</label>
                    <input class="form-control" type="text" name="username" id="username" placeholder="John">
                    <p class="text-danger" id="error-username">
                      {{ exceptions.username_exception_sign_in is defined ? exceptions.username_exception_sign_in : '' }}
                        {{ message_db.username_failed is defined ? message_db.username_failed : '' }}
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="mb-3 password-box">
                    <label for="password" class="form-label">Mot de passe</label>
                    <input class="form-control" type="password" name="password" id="password" placeholder="">
                    <p class="text-danger" id="error-password">
                        {{ exceptions.password_exception_sign_in is defined ? exceptions.password_exception_sign_in : '' }}
                        {{ message_db.password_failed is defined ? message_db.password_failed : '' }}
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="mb-3 forgot-password-box">
                    <a class="text-center" href="/forgot-password" id="forgot-password">Mot de passe oublié ?</a>
                </div>
            </div>
            <input type="submit" class="btn text-white bg-black mb-3" name="submit" id="submit" value="Envoyer">
        </form>

    </div>
</div>
{% endblock %}
