{% extends 'layout.twig' %}

{% block title %}
    <title>Modifier trick | {{ parent () }}  </title>
{% endblock %}
{% block css_page %}
    <link rel="stylesheet" href='/assets/css/update_trick.css'>
{% endblock %}
{% block content %}
    <header>
        <nav>
            <a href="{{ path('homepage') }}" id="back-homepage"><i class="fa-solid fa-arrow-left-long"></i></a>
        </nav>

    </header>
    <div class="container-fluid" id="trick">
        <div class=" container-fluid" id="banner-trick">
            {% if banner is defined and banner.isBanner is defined %}
                <img src="{{ banner.mediaPath }}"
                     alt="banner">
                <div class="options-box">
                    <a href="{{ path('update_trick_media_page',{'id':banner.id}) }}" class="options-media"
                       id="update"><i
                                class="fa-solid fa-pencil"></i></a>
                    <a href="{{ path('delete_trick_media',{'id':banner.id}) }}" class="options-media delete"
                       id="delete"><i
                                class="fa-solid fa-trash"></i></a>
                </div>
            {% else %}
                <img src="/assets/img/banner/banner_homepage.jpg"
                     alt="banner">
            {% endif %}
        </div>
        <button class="btn btn-dark" id="see-medias">Afficher les médias</button>

        <div id="trick-content">
            <div class="medias">
                {% for media in medias %}

                    {% if media.mediaType == "png" or media.mediaType == "jpg" or media.mediaType == "webp" %}
                        <div class="media-box">
                            <img src="{{ media is defined ? media.mediaPath : '' }}" alt="test" width="200"
                                 class="image">
                            <div class="options-box">
                                <a href="{{ path('update_trick_media_page',{'id':media.id}) }}" class="options-media"
                                   id="update"><i class="fa-solid fa-pencil"></i></a>
                                <a href="{{ path('delete_trick_media',{'id':media.id}) }}" class="options-media delete"
                                   id="delete"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </div>


                    {% elseif media.mediaType == "mp4" %}
                        <div class="media-box">
                            <embed autoplay="false" width="200" src="{{ media is defined ? media.mediaPath : '' }}"
                                   type="video/{{ media.mediaType }}">
                            <div class="options-box">
                                <a href="{{ path('update_trick_media_page',{'id':media.id}) }}" class="options-media"
                                   id="update"><i class="fa-solid fa-pencil"></i></a>
                                <a href="{{ path('delete_trick_media',{'id':media.id}) }}" class="options-media delete"
                                   id="delete"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </div>

                    {% elseif media.mediaType == "web" %}
                        <div class="media-box">
                            <iframe autoplay="0" width="200" src="{{ media.mediaPath }}"></iframe>
                            <div class="options-box">
                                <a href="{{ path('update_trick_media_page',{'id':media.id}) }}" class="options-media"
                                   id="update"><i class="fa-solid fa-pencil"></i></a>
                                <a href="{{ path('delete_trick_media',{'id':media.id}) }}" class="options-media delete"
                                   id="delete"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </div>

                    {% endif %}

                {% endfor %}

            </div>

            <div class="about">
                <div class="row">
                    {% if user_connected is defined and user_connected == "ROLE_USER" %}
                        {{ form_start(form,{'action':path('update_trick_content_put',{'slug':trick.slug,'id':trick.id})}) }}
                        {{ form_end(form) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <footer id="footer">
        <p class="text-center footer-paragraph">Copyright @ 2023</p>
        <nav id="nav-mobile">
            <a href="{{ path('homepage') }}" class="mobile-link" id="homepage-link"><i
                        class="fa-solid fa-house"></i></a>
            <a href="{{ path('create_trick_get') }}" class="mobile-link" id="plus"><i class="fa-solid fa-plus"></i></a>
            {% if user_connected is defined and user_connected == "ROLE_USER" %}
                <a href="{{ path('logout') }}" class="mobile-link" id="log-out"><i
                            class="fa-solid fa-right-from-bracket"></i></a>
            {% else %}
                <a href="{{ path('login') }}" class="mobile-link" id="log-in"><i class="fa-solid fa-key"></i></a>
                <a href="{{ path('registration_get') }}" class="mobile-link" id="sign-up"><i
                            class="fa-solid fa-user-plus"></i></a>
            {% endif %}
        </nav>
    </footer>

{% endblock %}
    {% block javascript %}
    <script src="/assets/js/media-animation.js"></script>
    <script src="/assets/js/delete-trick-on-update.js"></script>
    <script src="/assets/js/display-medias.js"></script>
    {% endblock %}
