{% extends 'layout.twig' %}

{% block title %}
    <title>Modifier un média | {{ parent () }}  </title>
{% endblock %}
{% block css_page %}
    <link rel="stylesheet" href='/assets/css/update_media.css'>
{% endblock %}
{% block content %}
    <header>
        <nav>
            <a href="{{ path('homepage') }}" id="back-homepage"><i class="fa-solid fa-arrow-left-long"></i></a>
        </nav>

    </header>
    <div class="container-fluid" id="trick">
        <div class="row">
            <div id="trick-content">
                {% if media.mediaType == "png" or media.mediaType == "jpg" or media.mediaType == "webp" or media.mediaType == "mp4" or media.isBanner == 1 %}
                    <h1 class="text-center">Modifier une image / vidéo</h1>
                    {{ form_start(form,{'action':path('update_trick_media_form',{'id':media.id})}) }}{{ form_end(form) }}

                {% elseif media.mediaType == "web" %}
                    <h1 class="text-center">Modifier URL Dailymotion / Youtube</h1>
                    {{ form_start(form,{'action':path('update_trick_media_form',{'id':media.id})}) }} {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </div>



    <footer id="footer">
        <p class="text-center footer-paragraph">Copyright @ 2023</p>
        <nav id="nav-mobile">
            <a href="{{ path('homepage') }}" class="mobile-link" id="homepage-link"><i
                        class="fa-solid fa-house"></i></a>
            {% if user_connected is defined and user_connected is not empty ? user_connected.roles[0]  : '' %}
                <a href="{{ path('create_trick_get') }}" class="mobile-link" id="plus"><i class="fa-solid fa-plus"></i></a>
                <a href="{{ path('logout') }}" class="mobile-link" id="log-out"><i
                            class="fa-solid fa-right-from-bracket"></i></a>
            {% else %}
                <a href="{{ path('login') }}" class="mobile-link" id="log-in"><i class="fa-solid fa-key"></i></a>
                <a href="{{ path('registration_get') }}" class="mobile-link" id="sign-up"><i
                            class="fa-solid fa-user-plus"></i></a>
            {% endif %}
        </nav>
    </footer>
    <script src="/assets/js/mediaAnimation.js"></script>
{% endblock %}
